.quote {
  font-size: 3rem;
  color: #daa520;
  margin-top: 100px;
  margin-left: 50px;
}
.animate1,
.animate2 {
  animation: fadeIn 0.7s ease-in;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.cite {
  color: #00a8ff;
}
.textContainer {
  width: 650px;
  text-align: center;
}
