.quote {
  font-size: 3rem;
  color: #daa520;
  margin-top: 100px;
  margin-left: 50px;
}

.cite {
  color: #e60b7b;
}
.textContainer {
  width: 650px;
  text-align: center;
  margin-bottom: 150px;
  opacity: 0;
}
.fadeIn {
  animation: fadeIn 4s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
