body {
  margin: 0px;
}

.body {
  display: flex;
  background-image: url(../../images/queen_background2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.quote {
  font-size: 3rem;
  color: #daa520;
  margin-top: 100px;
  margin-left: 50px;
}

.text-box {
  text-align: center;
}
